.faq{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: $lightgrey;
    min-height: 90vH;
    font-family: Avenir medium, sans-serif;
    font-weight: normal;

    h1{
        text-transform: uppercase; 
        font-weight: bold; 
        font-style: italic;
        color: $red;
        font-size: 2rem;
        width: 90%;
        margin: 0 auto;
    }

    ul{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        background-color: white;
        border: 2px solid black;
    }

    .question { 
        display: flex; 
        flex-direction: column; 
        justify-content: end;
        background: none; 
        border: none;
        border-bottom: 1px solid black;
        padding: 0;
        padding: 20px;
        font-size: 14px;
        font-weight: bold;
        outline-style: none;

        span {
            display:none;
        }

        &:focus {
            span{ 
                display: block;
                text-align: left;
                width: 105.5%;
                height: 100%;
                border: 1px solid black;
                background-color: $yellow;
                padding: 10px 0;
                transform: translateY(21px) translateX(-20px);
            }
        }
    }
}