@font-face {
  font-family: 'Avenir';
  src: url("AvenirLTStd-Roman.eot");
  src: url("AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("AvenirLTStd-Roman.woff2") format("woff2"), url("AvenirLTStd-Roman.woff") format("woff"), url("AvenirLTStd-Roman.otf") format("otf"), url("AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir medium';
  src: url("AvenirLTStd-Medium.eot");
  src: url("AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("AvenirLTStd-Medium.woff2") format("woff2"), url("AvenirLTStd-Medium.woff") format("woff"), url("AvenirLTStd-Medium.otf") format("otf"), url("AvenirLTStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-book';
  src: url("AvenirLTStd-Book.eot");
  src: url("AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("AvenirLTStd-Book.woff2") format("woff2"), url("AvenirLTStd-Book.woff") format("woff"), url("AvenirLTStd-Book.otf") format("otf"), url("AvenirLTStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
header {
  display: flex;
  flex-direction: column;
  align-self: start;
  position: fixed;
  width: 120px;
  margin-top: 10px; }
  header #logo {
    width: 100%; }
    header #logo img {
      width: 100%; }
  header nav {
    width: 100%;
    margin: auto; }
    header nav ul {
      padding: 15px 0; }
      header nav ul li {
        display: flex;
        flex-direction: row;
        font-family: Avenir-book, sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: lighter;
        border-bottom: 1.5px solid #D8D8D8;
        padding: 5px 0;
        transition: .3s; }
        header nav ul li:hover {
          font-weight: bold;
          background-image: url(/images/ribbon.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat; }
        header nav ul li a {
          display: flex;
          flex-direction: row;
          width: 100%;
          text-decoration: none;
          color: black;
          padding: 10px 0;
          padding-left: 3px; }
  header #social {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header #social a img {
      width: 90%;
      cursor: pointer; }

.workshop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .workshop-container .tagline {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10% 10%; }
    .workshop-container .tagline h1 {
      font-family: Avenir medium, sans-serif;
      text-transform: uppercase;
      font-weight: 550;
      font-style: italic;
      font-size: 30px;
      line-height: 1.5; }
    .workshop-container .tagline p {
      padding: 25px 0;
      font-family: Avenir medium, sans-serif;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.5;
      margin-right: 60px; }
  .workshop-container .workshop {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 374px;
    align-items: flex-end;
    background-image: url(/images/banner_photo_web.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
    .workshop-container .workshop .calander {
      font-family: Avenir medium, sans-serif;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      min-width: 188px;
      height: 55%;
      background-color: white; }
      .workshop-container .workshop .calander h3 {
        padding-bottom: 10px; }
      .workshop-container .workshop .calander .weeks {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: flex-start; }
        .workshop-container .workshop .calander .weeks li {
          width: 25px;
          text-align: center;
          background-color: #D8D8D8;
          font-size: 10px;
          padding: 5px 0; }
      .workshop-container .workshop .calander .days {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        justify-content: flex-start; }
        .workshop-container .workshop .calander .days button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          background-color: #EBEBEB;
          border: none;
          margin: 1px;
          font-size: 10px;
          width: 23px;
          height: 25px; }
          .workshop-container .workshop .calander .days button p {
            height: 80%;
            width: 80%;
            margin: auto;
            padding: 2px 3px; }
          .workshop-container .workshop .calander .days button .active {
            border: 1.5px solid red;
            border-radius: 50%; }
    .workshop-container .workshop .workshop-info {
      font-family: Avenir medium, sans-serif;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 45%;
      min-width: 188px;
      height: 45%;
      background-color: rgba(223, 255, 44, 0.85); }
      .workshop-container .workshop .workshop-info h2, .workshop-container .workshop .workshop-info p, .workshop-container .workshop .workshop-info button {
        margin-left: 18px; }
      .workshop-container .workshop .workshop-info h2 {
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        font-style: italic; }
      .workshop-container .workshop .workshop-info p {
        font-size: 13px;
        line-height: 1.5; }
      .workshop-container .workshop .workshop-info button {
        width: 50%;
        padding: 3px 0;
        font-size: 12px;
        border-radius: 8px;
        border: 1px solid black;
        background-color: rgba(223, 255, 44, 0.85); }

footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  font-family: Avenir medium, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: .8rem; }
  footer p {
    width: 50%;
    padding: 15px; }

.innitiatives {
  width: 100%;
  height: 1450px;
  background-image: url(/images/ribbon_grey_web.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat; }
  .innitiatives .fact-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 200px; }
    .innitiatives .fact-banner h1 {
      width: 40%;
      padding-left: 25px;
      color: rgba(223, 255, 44, 0.85);
      font-size: 125px;
      font-family: Avenir medium, sans-serif;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.438); }
    .innitiatives .fact-banner p {
      width: 30%;
      font-family: Avenir medium, sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.5; }
  .innitiatives video {
    width: 100%;
    outline-style: none;
    cursor: pointer; }
  .innitiatives .lll {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Avenir medium, sans-serif;
    font-style: italic; }
    .innitiatives .lll .learn, .innitiatives .lll .love, .innitiatives .lll .live {
      width: 22%;
      padding-top: 110px; }
      .innitiatives .lll .learn h1, .innitiatives .lll .love h1, .innitiatives .lll .live h1 {
        color: #E1FF2C;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 25px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.438); }
      .innitiatives .lll .learn p, .innitiatives .lll .love p, .innitiatives .lll .live p {
        font-size: 25px;
        line-height: 1.8;
        font-weight: lighter;
        text-shadow: 0.8px 0.8px 10px white; }

.educate, .test {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  background-image: url("/images/thumbnail.jpg");
  background-size: 80%;
  background-position: right;
  background-repeat: no-repeat;
  height: 60vH; }
  .educate .link-container, .test .link-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    background-color: rgba(239, 61, 38, 0.8);
    font-family: Avenir medium, sans-serif;
    font-weight: normal;
    align-items: flex-start;
    justify-content: space-evenly; }
    .educate .link-container h1, .test .link-container h1 {
      text-transform: uppercase;
      color: white;
      margin-left: 20px;
      width: 90%;
      font-size: 1.3rem;
      line-height: 1.8rem;
      font-weight: bold;
      font-style: italic; }
    .educate .link-container button, .test .link-container button {
      background: none;
      border: 1.5px solid white;
      color: white;
      width: 50%;
      height: 20%;
      margin-left: 20px;
      outline-style: none;
      cursor: pointer; }
      .educate .link-container button a, .test .link-container button a {
        text-decoration: none;
        color: white; }

.test {
  background-image: url("/images/getTested_web.jpg") !important;
  background-position: left !important;
  justify-content: flex-end !important;
  margin-bottom: 100px; }

.involve {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vH; }
  .involve .involve-card {
    width: 33.33%; }
    .involve .involve-card .card {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .involve .involve-card .card .container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px; }
        .involve .involve-card .card .container .fdonate {
          background-image: url(/images/donation_web.jpg) !important; }
          .involve .involve-card .card .container .fdonate::before {
            content: "";
            background-image: url(/images/donation_web.jpg) !important;
            z-index: -1; }
        .involve .involve-card .card .container .fvolunteer {
          background-image: url(/images/volunteer_web.jpg) !important; }
          .involve .involve-card .card .container .fvolunteer::before {
            content: "";
            background-image: url(/images/volunteer_web.jpg) !important;
            z-index: -1; }
        .involve .involve-card .card .container .fpartner {
          background-image: url(/images/partner_web.jpg) !important; }
          .involve .involve-card .card .container .fpartner:before {
            content: "";
            background-image: url(/images/partner_web.jpg) !important;
            z-index: -1; }
        .involve .involve-card .card .container .front,
        .involve .involve-card .card .container .back,
        .involve .involve-card .card .container .back:before,
        .involve .involve-card .card .container .back:after {
          background-size: cover;
          background-position: center;
          transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1);
          backface-visibility: hidden;
          text-align: center;
          min-height: 280px;
          color: #fff;
          font-size: 1.5rem;
          text-shadow: .5px .5px 1px black;
          height: 85vH; }
        .involve .involve-card .card .container .back::after {
          content: "";
          background-color: rgba(223, 255, 44, 0.85); }
        .involve .involve-card .card .container .bdonate {
          background-image: url(/images/donation_web.jpg) !important; }
          .involve .involve-card .card .container .bdonate::before {
            content: "";
            background-image: url(/images/donation_web.jpg) !important;
            z-index: -1; }
        .involve .involve-card .card .container .bvolunteer {
          background-image: url(/images/volunteer_web.jpg) !important; }
          .involve .involve-card .card .container .bvolunteer::before {
            content: "";
            background-image: url(/images/volunteer_web.jpg) !important;
            z-index: -1; }
        .involve .involve-card .card .container .bpartner {
          background-image: url(/images/partner_web.jpg) !important; }
          .involve .involve-card .card .container .bpartner:before {
            content: "";
            background-image: url(/images/partner_web.jpg) !important;
            z-index: -1; }
        .involve .involve-card .card .container .front:after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          content: '';
          display: block;
          backface-visibility: hidden; }
        .involve .involve-card .card .container .back,
        .involve .involve-card .card .container .back:before,
        .involve .involve-card .card .container .back:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; }
        .involve .involve-card .card .container:hover .front, .involve .involve-card .card .container:hover .back {
          transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.2, 1); }
        .involve .involve-card .card .container:hover .back {
          transform: rotateY(0deg);
          transform-style: preserve-3d; }
        .involve .involve-card .card .container:hover .front {
          transform: rotateY(-180deg);
          transform-style: preserve-3d; }
        .involve .involve-card .card .container .front, .involve .involve-card .card .container .inner {
          transform: translateZ(30px) scale(0.94);
          position: absolute;
          left: 0;
          width: 100%;
          padding: 2rem;
          box-sizing: border-box;
          perspective: inherit;
          z-index: 2;
          font-family: Avenir medium, sans-serif;
          font-weight: normal;
          text-align: left; }
          .involve .involve-card .card .container .front h1, .involve .involve-card .card .container .inner h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-style: italic;
            color: #E1FF2C; }
          .involve .involve-card .card .container .front p, .involve .involve-card .card .container .inner p {
            padding-top: 40px;
            font-weight: normal;
            text-shadow: none;
            color: black;
            font-size: 1rem;
            line-height: 2rem; }
          .involve .involve-card .card .container .front button, .involve .involve-card .card .container .inner button {
            margin-top: 40px;
            background: none;
            border: 1.4px solid black;
            padding: 10px 0;
            width: 50%;
            cursor: pointer; }
        .involve .involve-card .card .container .back {
          transform: rotateY(180deg);
          transform-style: preserve-3d; }
          .involve .involve-card .card .container .back .inner h1 {
            color: #EF3D26; }
        .involve .involve-card .card .container .front {
          transform: rotateY(0deg);
          transform-style: preserve-3d; }

.faq {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: #EBEBEB;
  min-height: 90vH;
  font-family: Avenir medium, sans-serif;
  font-weight: normal; }
  .faq h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    color: #EF3D26;
    font-size: 2rem;
    width: 90%;
    margin: 0 auto; }
  .faq ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    border: 2px solid black; }
  .faq .question {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    outline-style: none; }
    .faq .question span {
      display: none; }
    .faq .question:focus span {
      display: block;
      text-align: left;
      width: 105.5%;
      height: 100%;
      border: 1px solid black;
      background-color: #E1FF2C;
      padding: 10px 0;
      transform: translateY(21px) translateX(-20px); }

body {
  display: flex;
  flex-direction: row;
  width: 100vW;
  max-width: 1024px;
  margin: auto; }
  body main {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 80%;
    margin-left: 140px; }

/*# sourceMappingURL=main.css.map */
