.site-preview{
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;

        padding: 0 !important;
        border: none !important;

        
        img {
            max-height: 80%;
            max-width: 100%;
            padding-left: 10px;
        }
        nav{
            display: flex;
            flex-direction: row;
            height: 100%;
            width: auto !important;

            ul{
                align-items: center;
                width: auto !important;
                li{
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 10px;
                }
            }
        }
    }
    .hero-section{
        display: flex;
        width: 100%;
        max-height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            max-width: 100%;
            max-height: 100%;
        }

        h1{
            position: absolute;
            max-width: 100%;
            color: white;
            font-size: 34px;
        }
    }
    .about-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100%;
        max-height: 100%;

        img{
            max-width: 100%;
            max-height: 100%;
        }
        .about-inner{
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 80%;
            height: 55%;
            background-color: rgb(27, 27, 27);
            box-shadow: 0 5px 8px black;

            .about-text{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 40px;
                width: 50%;

                h2{
                    color: red;
                    text-transform: uppercase;
                    font-size: 24px;
                }

                p{
                    color: white;
                    font-size: 12px;
                    line-height: 1.5;
                }
            }
            .about-video{
                display: flex;
                background-color: black;
                width: 50%;
            }
        }
    }
    .workshop-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100%;
        max-height: 100%;

        img{
            max-width: 100%;
            max-height: 100%;
        }
        .workshop-inner{
            display: flex;
            flex-direction: row;
            position: absolute;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            .single-workshop{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 58%;
                height: 100%;

                .workshop-container{
                    height: 80%;
                    width: 80%;
                    background-color: white;

                    .text-container{
                        display: flex;
                        flex-direction: column;
                        width: 85%;
                        height: 100%;
                        margin: auto;
                        justify-content: center;

                        h2{
                            color: red;
                            text-transform: uppercase;
                            font-size: 24px;
                            padding-bottom: 10px;
                        }
                        p{
                            font-size: 14px;
                            text-transform: uppercase;
                            line-height: 1.8;

                            b{
                                font-size: 28px;
                            }
                        }
                        a{
                            font-size: 11px;
                            padding: 8px 0;
                            text-align: center;
                            margin-top: 10px;
                            border: 1px solid black;
                            color: black;
                            text-decoration: none;
                            width: 90px;
                            font-style: italic;
                        }
                    }
                }
            }
            .workshop-list{
                width: 42%;
                overflow-y: scroll;
                background-color: white;

                .row {
                    display: flex;
                    flex-direction: row;
                    height: 30%;
                    border-bottom: .5px solid grey;

                    .date{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 25%;
                        background-color: rgb(199, 209, 209);
                        border-right: .5px solid grey;
                        
                        p{
                            font-size: 14px;
                            text-transform: uppercase;
                            padding: 5px;

                            b{
                                font-size: 28px;
                            }
                        }
                    }
                    .workshop-info{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 75%;

                        p{
                            padding: 20px;
                            line-height: 1.5;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .why-section{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;

        img{
            max-width: 100%;
            max-height: 100%;
        }
        h1{
            top: 0;
            padding-top: 45px;
            width: 85%;
            margin: auto;
            text-align: end;
            position: absolute;
            color: white;
            font-size: 28px;
            text-transform: uppercase;
        }
        .inner-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: absolute;
            margin: auto;
            width: 70%;
            height: 80%;
        }
        .is, .not{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;

            h2{
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                padding-bottom: 20px;

                i{
                    color: red;
                }
            }

            .inner{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .fact-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 23%;
                    height: 200px;
                    border: 1.5px solid white;
                    background-color: rgba(255, 255, 255, 0.24);       
                    box-shadow: 0 5px 8px black;

                    img{
                        display: flex;
                        width: 140px;
                        height: 140px;
                        background-color: rgba(255, 0, 0, 0.151);
                        border: 1px solid red;
                        border-radius: 75px;
                    }
                    p{
                        color: white;
                        font-size: 16px;
                        line-height: 1.4;
                    }
                }
            }
        }
        a{
            font-size: 11px;
            padding: 10px 0;
            text-align: center;
            margin-top: 10px;
            border: 1px solid white;
            color: white;
            text-decoration: none;
            width: 115px;
            font-style: italic;
        }
    }
    .how-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        max-width: 100%;
        height: 500px;
        background-color: rgb(19, 19, 19);

        .how-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 40px;
            width: 80%;
            height: 80%;

            .inner-container{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border: 4px solid white;
                width: 45%;

                h2{
                    color: red;
                    font-size: 24px;
                    padding: 40px 20px;
                    line-height: 1.5;
                }
                p{
                    color: white;
                    font-size: 14px;
                    line-height: 1.5;
                    padding: 20px;
                }
                a{
                    color: white;
                    font-size: 14px;
                    line-height: 1.5;
                    padding: 20px;
                }
            }
        }
    }
    .where-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100%;
        height: 600px;

        .map{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 55%;
            height: inherit;
            background-image: url('../../../images/map_background.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .map-svg{
                max-width: 90%;    
                max-height: 90%;
            }
        }
        .map-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;;
            width: 45%;
            height: inherit;
            background-image: url('../../../images/where_background.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
            .info-container{
                width: 80%;
                height: 70%;
                background-color: white;
                box-shadow: 0 5px 8px black;

                .text-container{
                    padding-left: 20px;
                    padding-right: 10px;
                    padding-top: 25px;

                    h2{
                        color: red;
                        text-transform: uppercase;
                        font-size: 24px;
                        padding-bottom: 20px;
                    }
                    p{
                        font-size: 12px;
                        line-height: 1.5;
                        padding-bottom: 20px;
                    }
                    ul{
                        list-style-type: disc;
                        font-size: 12px;
                        font-style: italic;
                        margin-left: 15px;
                        line-height: 1.8;
                    }
                }
            }
        }
    }
    .join-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        height: 300px;

        .join-container{
            height: 80%;
            padding-left: 40px;

            h1{
                padding-top: 20px;
                color: red;
                font-size: 30px;
                line-height: 1.2;
                border-bottom: grey solid 1.5px;
                width: 50%;
                text-transform: uppercase;
            }
            p{
                padding-top: 40px;
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
    .insta-section{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 310px;
        overflow-x: auto;

        .insta-block{
            background-color: rgb(167, 167, 167);
            width: 200px;
            min-width: 200px;
            height: 300px;
            margin-right: 5px;
        }
    }
    footer{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: 300px;
        background-color: black;
        color: white;

        .newsletter{
            display: flex;
            flex-direction: column;
            width: 55%;
            margin-top: 35px;
            padding-left: 20px;

            h3{
                font-size: 18px;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            p, label{
                font-size: 12px;
                line-height: 1.4;
                padding-bottom: 30px;
            }
            input{
                background-color: transparent;
                color: white;
                font-size: 12px;
                line-height: 1.2;
                width: 80%;
                padding: 5px;
            }
            a{
                margin-top: 30px;
                color: white;
                text-decoration: none;
                text-align: center;
                border: 1px solid white;
                width: 75px;
                padding: 10px;
                background-color: rgba(255, 255, 255, 0.199);
            }
        }
        .footer-text{
            width: 45%;
            padding-right: 20px;

            .social{
                display: flex;
                flex-direction: row;
                width: 50%;
                height: 40px;
                margin-top: 20px;

                .social-icon{
                    width: 25px;
                    height: 25px;
                    background-color: white;
                    margin-right: 10px;
                }
            }
            p{
                font-size: 12px;
                line-height: 1.5;
                padding-bottom: 20px;
            }
        }
    }
}