// this section of code is from jeff's desktop view
// i copied it here and tried to change it to mobile
// so that we don't need to change the sass for desktop view
// anw i also added my mobile view after this section
header {
    display: flex;
    flex-direction: row;
    align-self: start;
    // position: fixed;
    width: 100%;
    padding: 10px 0;

    #logo {
        width: 90%;

        img {
            width: 100%;
        }
    }

    nav {
        width: 100%;
        margin: auto;

        ul {
            padding: 15px 0;

            li {
                display: flex;
                flex-direction: row;
                font-family: Avenir-book, sans-serif;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: lighter;
                border-bottom: 1.5px solid $grey;
                padding: 5px 0;
                transition: .3s;

                &:hover {
                    font-weight: bold;
                    background-image: url(/images/ribbon.jpeg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                a{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text-decoration: none;
                    color: black;
                    padding: 10px 0;
                    padding-left: 3px;

                    
                }
            }
        }
    }

    #social {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a img {
            width: 90%;
            cursor: pointer;
        }
    }
}

// here is my code for mobile view
// i recommend you just use it for reference
// and change jeff's code (the code above)
header{
    width: 100%;
    height: 10vh;
    display: flex;

    nav{
        width: 100%;
        position: fixed;
        display: none; // change to block when clicked

        #menu{
            width: 90%;
            margin: 0 auto;
            
            li{
                padding: 30px 0;
                border-bottom: 1px solid black;

                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1em;
                }
            }
        }  
        
        #social{
            width: 90%;
            margin: 60px auto 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            li img{ // this part won't work because of different html
                width: 20px;
                height: 20px;
            }
            
        }
    }
}
// xoxo dil

// desktop (jeff's original code)
@media screen and (min-width: 768px){ // i also added this media query
    header {
        display: flex;
        flex-direction: column;
        align-self: start;
        position: fixed;
        width: 120px;
        padding: 10px 0;

        #logo {
            width: 90%;

            img {
                width: 100%;
            }
        }

        nav {
            width: 100%;
            margin: auto;

            ul {
                padding: 15px 0;

                li {
                    display: flex;
                    flex-direction: row;
                    font-family: Avenir-book, sans-serif;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: lighter;
                    border-bottom: 1.5px solid $grey;
                    padding: 5px 0;
                    transition: .3s;

                    &:hover {
                        font-weight: bold;
                        background-image: url(/images/ribbon.jpeg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    a{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        text-decoration: none;
                        color: black;
                        padding: 10px 0;
                        padding-left: 3px;

                        
                    }

                    
                }
            }
        }

        #social {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a img {
                width: 90%;
                cursor: pointer;
            }
        }
    }
}