// mobile view (newest)
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: #fff;

    #logo {
        width: 50%;

        img {
            width: 30%;
            padding: 15px 15px;
        }
    }

    #hamburger {
        width: 50%;
        text-align: right;

        img {
            width: 20%;
            padding: 30px 15px 15px;
        }
    }

    nav {
        width: 100%;
        position: fixed;
        display: none;

        ul {
            padding: 15px 0;

            li {
                display: flex;
                flex-direction: row;
                font-family: Avenir-book, sans-serif;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: lighter;
                border-bottom: 1.5px solid $grey;
                padding: 5px 0;
                transition: .3s;

                &:hover {
                    font-weight: bold;
                    background-image: url(/images/ribbon.jpeg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                a{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    text-decoration: none;
                    color: black;
                    padding: 10px 0;
                    padding-left: 3px;
                }   
            }
        }
    }

    #social {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        a img {
            width: 90%;
            cursor: pointer;
        }
    }
} // end of mobile view

// desktop view (jeff's original code)
@media screen and (min-width: 768px){ 
    header {
        display: flex;
        flex-direction: column;
        align-self: start;
        position: fixed;
        width: 120px;

        #logo {
            width: 100%;

            img {
                width: 100%;
                padding: 20px 0 0;
            }
        }

        #hamburger {
            display: none;
        }

        nav {
            width: 100%;
            margin: auto;
            position: relative;
            display: block;

            ul {
                padding: 15px 0;

                li {
                    display: flex;
                    flex-direction: row;
                    font-family: Avenir-book, sans-serif;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: lighter;
                    border-bottom: 1.5px solid $grey;
                    padding: 5px 0;
                    transition: .3s;

                    &:hover {
                        font-weight: bold;
                        background-image: url(/images/ribbon.jpeg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    a{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        text-decoration: none;
                        color: black;
                        padding: 10px 0;
                        padding-left: 3px;  
                    }
                }
            }
        }

        #social {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a img {
                width: 90%;
                cursor: pointer;
            }
        }
    }
} // end of desktop view